.main-header{
	background-image: url("../assets/img/hire-manage-freelancer.jpeg");
	background-repeat: no-repeat;
	height: 500px;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity : 0.7;
}

.text-overlay{
	width:700px;
	margin: auto;
	background-color: rgba(51,94,171,0.7);
	color: white;
	/*padding-top: 100px;*/
	position: absolute;
	top: 200px;
	left: 25%;
	border-radius: 5px;
	box-shadow: 5px 5px 10px #888888;

}

.text-overlay-heading{
	font-size: 50px;
	padding: 30px 30px 20px 30px;
}

.text-overlay-heading > h1{
	font-size: 50px;
}

.text-overlay-body{
	font-size: 20px;
	padding: 30px;
	opacity: 1;
}